.successBg {
    /* position: relative;
    height: 100vh; */
    background-image: url('/src/assets/OurSuccess/successBg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}