.service1 {
    background: rgb(237, 71, 71);
    background: linear-gradient(86deg, rgba(237, 71, 71, 1) 0%, rgba(247, 255, 247, 1) 66%, rgba(247, 255, 247, 1) 100%, rgba(255, 255, 255, 0.23853291316526615) 100%, rgba(249, 213, 250, 0.5690651260504201) 100%, rgba(58, 60, 117, 0.05085784313725494) 100%);
}

.service2 {
    background: rgb(237,71,71);
    background: linear-gradient(270deg, rgba(237,71,71,1) 0%, rgba(247,255,247,1) 66%, rgba(247,255,247,1) 100%, rgba(255,255,255,0.23853291316526615) 100%, rgba(249,213,250,0.5690651260504201) 100%, rgba(58,60,117,0.05085784313725494) 100%);
}